@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;1,300&family=Poppins:wght@700&display=swap');

.button{
    background-color: #2acfcf;
    /* border-radius: 28px; */
    font-family: "Poppins", sans-serif; 
    border: 0;
    outline: none;
    /* padding: 8px 20px; */
    color: #ffffff;
    position: relative;
    font-weight: bold;
}
.button:hover{
    background-color: rgb(155, 226, 226);
    cursor: pointer;
}