@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;1,300&family=Poppins:wght@700&display=swap");

.div-header {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1vh 8vh; */
  justify-content: space-between;
  align-items: center;
  padding-right: 19.5vh;
}

.title-p {
  font-family: "Poppins", sans-serif;
  margin-right: 2vw
}

.divTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
