@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;1,300&family=Poppins:wght@100&display=swap");

.div-container {
  background-color: white;
  padding: 1vh;
  border-radius: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.div-button-url {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.text-url {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 2vh;
}

.text-url-green {
  font-family: "Poppins", sans-serif;
  color: hsl(180, 66%, 49%);
  font-size: 2vh;
  margin-right: 2.5vh;
}
